.not-found-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    .page-not-found {
        font-family: $font-Hauora-600;
        font-size: $font-24;
        font-weight: 600;
        line-height: 32.78px;
        text-align: center;
        color: $text-primary;
    }

    .back-to-home {
        button {
            width: 200px;

            @media only screen and (max-width: $mobile-699) {
                width: 100% !important;
                padding: 0 5rem;

                width: 200px;
                height: 40px;
                gap: 16px;
                flex-shrink: 0;
                border-radius: 4px;

                font-size: $font-14;
            }
        }
    }
}