// COLORS ---------
$color-gray1 : #4D4D4D;
$color-gray: #242424;
$color-gray-1 : #4D4D4D;
$color-gray-2 : rgba(20, 20, 20, 0.25);
$color-gray-3 : #7A7A7A;
$color-black : #000000;
$color-black-1 : #141414;
$color-white: #ffffff;
$color-white-1: #F2F2F2;
$color-white-2 : #BFBFBF;
$text-secondry : #BFBFBF;
$text-field : #7A7A7A;
$element-accent: #FFF;
$color-full :#000000;
$element-45-Shade: #737373;
$element-60-Shade: #9C9C9C;
$opacity-web-cards: rgba(20, 20, 20, 0.25);
$element-line: #949494;
$text-primary : #F2F2F2;
$text-secondary : #BFBFBF;
$text-field : #7A7A7A;
$element-30-Shade: #4D4D4D;
$element-45-Shade: #737373;
$element-60-Shade: #9C9C9C;
$grey-505 : #616161;
$grey-606 : #333333;
$grey-707 : #242424;
$grey-808 : #141414;
$grey-909 : #0F0F0F;
$opacity-web-cards: rgba(20, 20, 20, 0.25);
$chat-header : rgba(36, 36, 36, 0.25);
$chat-user-bubble: rgba(0, 0, 0, 0.40);
$chat-agent-bubble: #141414;
$color-red: #F00;
$opacity-callout-black-50 : rgba(0, 0, 0, 0.50);
$chat-chat-bkgrd: rgba(20, 20, 20, 0.25);
$OPACITY-Web-Header: rgba(15, 15, 15, 0.50);
// bg Colors

$opacity-field-bkgd-25: rgba(128, 128, 128, 0.25);

// button
$element-pressed-button: #E6E6E6;
$annotation-color: #FA00FF;

// Chat Colors
$CHAT-Header-n-Input-Bkgd: rgba(36, 36, 36, 0.25);
$OPACITY-Web-Footer: rgba(20, 20, 20, 0.30);

// Mobile Footer 
$OPACITY-MB-Header-Footer: rgba(20, 20, 20, 0.50);
$element-30-shade-50: rgba(77, 77, 77, 0.50);
$overlay-darken-photo-20: rgba(0, 0, 0, 0.2);
$opacity-70750: rgba(36, 36, 36, 0.50);

$element-pressed-outline-button: rgba(255, 255, 255, 0.10);

// COLOR/Strikeout
$color-strikeout : #b20000;
$--COLOR-Amber: #FFB800;
$--opacity-accent-30 : rgba(0, 0, 0, 0.40);
$--overlay-darken-pihoto-10 : rgba(0, 0, 0, 0.10)